main {
  width: 80%;
  max-width: 80%;
  margin: auto !important;
  background-color: white;
  margin: 20px;
  padding: 20px;
}

body{
    background-color: azure;
}
.valaszForm{
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}
.valaszCella{
    padding: 5px;

}
td .ellenorzes{
 
    background-color: lightgrey;
    text-align: center;
}